<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="StockDB" connectionString="Data Source=.\sqlexpress;Initial Catalog=StockDB;User ID=sa;Password=123456;
			 Persist Security Info=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>