<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="THOK.WES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <THOK.WES.Properties.Settings>
            <setting name="THOK_WES_DzInspurWarehouseOperationService_WarehouseOperationServiceService"
                serializeAs="String">
                <value>http://10.89.128.22:9080/L3/services/WarehouseOperationService</value>
            </setting>
        </THOK.WES.Properties.Settings>
    </applicationSettings>
</configuration>